<section class="columns two">
  <div class="column">
    <h2>Markdown</h2>
  </div>
  <div class="column">
    <h2 class="tres">HTML</h2>
  </div>
</section>

{{outlet}}

<section class="columns two">
  <div class="column">
    <p>{{textarea value=thing placeholder="Write markdown here"}}</p>
  </div>
  <div class="column dos">
    {{showdown-addon thing}}
  </div>
</section>

{{outlet}}
